* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: #eefeff;
  color: #404040;
}
.main {
  margin: auto;
  width: 70rem;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}
.nav-img {
  width: 3rem;
}
.nav-links {
  font-size: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #404040;
  transition: all 300ms;
}
.nav-link:hover,
.nav-link:active {
  color: #9b9b9b;
  transform: translateY(-10%);
}
.btn {
  color: #404040;
  background-color: #f8c8dc;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

/* HERO */

.hero-section {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  width: 100%;
}
.hero-div {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hero-img {
  width: 20rem;
  border-radius: 10px;
}
.hero-txt {
  width: 40rem;
}
.hero-title {
  font-size: 4rem;
}
.hero-subtxt {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

/* INTRO */

.intro-section {
  display: flex;
  align-items: center;
}
.intro-title {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}
.intro-img {
  width: 20rem;
}
.intro-txt {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

/* CARDS */
.card-section {
  margin-bottom: 20rem;
}
.card {
  width: 100%;
  height: 25rem;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}
.card-flip {
  transition: all 700ms;
  background-color: #e2e4ff;
  height: 100%;
}
.card-div {
  display: flex;
  gap: 3rem;
}
.card-title {
  font-size: 3rem;
  width: 50rem;
  text-align: center;
  margin: 10rem auto 5rem;
}
.card-img {
  width: 100%;
}
.card-name {
  font-size: 2rem;
  margin-top: 3rem;
}
.card-hover {
  transform: rotateY(180deg);
}
.card-name {
  margin: auto;
}
